* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-orange : hsl(26, 100%, 55%);
    --primary-pale-orange-bg :hsl(25, 100%, 94%);
    --dark-blue : hsl(220, 13%, 13%);
    --drk-greyish-blue-paragraph : hsl(219, 9%, 45%);
    --greyish-blue : hsl(220, 14%, 75%);
    --light-greyish-blue : hsl(223, 64%, 98%);
    --white : hsl(0, 0%, 100%);
    --black : hsl(0, 0%, 0%);
    --font-size : 1.2rem;
    --btn-cart-height : 13px;
    --btn-cart-width : 129px;
    --additn-btn-width : 79px;
    --additn-btn-height : 31px;


}
body {
    width: 100%;
    font-size: var(--font-size);
    font-family: 'Kumbh Sans', sans-serif;
    overflow-x: hidden;
    
}
.wrapper {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90% !important;
    padding-top: 1.125rem;
    position: relative;
}
.aside-nav-box {
    visibility: hidden;
    position: absolute;
    background-color: var(--white);
    z-index: 100;
    width: 60%;
    height: 100vh;
    padding: 2rem;
    left: -22rem;
    transition: all .5s ease-in-out;
}
.aside-close-nav {
    cursor: pointer;
}
.aside-nav {
    display: block;
    margin-top: 2rem;
}
.aside-nav ul {
    list-style: none;
}
.aside-nav ul li {
    display: block;
    line-height: 2rem;
}
.aside-nav ul li a {
    text-decoration: none;
    color: var(--black);
}
.left-section {
    display: flex;
}
.logo {
    margin-left: 1rem;
    cursor: pointer;
}
.mobi-nav {
    display: none;
}
.mobi-nav ul {
    list-style: none;
}
.mobi-nav ul li {
    display: inline;
}
.mobi-nav ul li:not(:first-child){
    margin-left: 1rem;
}
.mobi-nav ul li:hover{
    border-bottom: 2px solid red;
    padding-bottom: 2.2rem;
    transition: all .25ms ease-in-out;
}
.mobi-nav ul li a {
    text-decoration: none;
    color: var(--drk-greyish-blue-paragraph);
}
.menu {
    cursor: pointer;
}
.right-section
 {
    display: flex;
    align-items: center;
}
.avatar-img {
    width: 40px;
    cursor: pointer;
}
.cart-img {
    position: relative;
    padding-right: 2rem;
    cursor: pointer;
}
/* hero-page -------------- */
.hero-page {
    margin-top: 1.5rem;
    position: relative;
 
}
.cart-box {
  
    position: absolute;
    top: 10px;
    width: 90%;
    left: 5%;
    text-align: center;
    background-color: var(--white);
    z-index: 100;
    padding: 1.2rem;
    border-radius: .5rem;
}
.cart {
    border-bottom: 1px solid rgb(62, 61, 61);
    padding-bottom: 2rem;
    text-align: left;
}
.cart-box-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 2rem;
}
.cart-empty {
    margin: 0 auto;
    margin-block: 3rem;
}
.display {
    display: none;
}
.multi-result {
    font-style: italic;
}
.checkoutBtn {
    border: none;
    border-radius: .5rem;
    color: var(--white);
    padding: .5rem;
    width: 90%;
    font-size: 1.2rem;
    background-color: var(--primary-orange);
    cursor: pointer;
}
.cart-img {
    width: 4.6875rem;
}
.delete-img {
    cursor: pointer;
}
.carousel-track-container {
    position: relative;
    
}
.carousel-track {
    position: relative;
    width: 100%;
    max-width: 100rem;
    height: 18.75rem;
    overflow: hidden;
}
.carousel-slides {
    position: absolute;
    width: 100%;
    height: 18.75rem;
    opacity: 0;
    transition: all .5ms ease-in-out;
}
.carousel-slides[data-active] {
    opacity : 1;
}
.carousel-slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.prev {
    display: grid;
    place-content: center;
    z-index: 1;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    left: 10%;
    border-radius: 50%;
    background-color: var(--white);
    transform: translate(-50%, -50%);
}
.next {
    display: grid;
    place-content: center;
    z-index: 1;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    right: 10%;
    border-radius: 50%;
    background-color: var(--white);
    transform: translate(50%, -50%);
}
.hero-page-content h2 {
    color: var(--primary-orange);
    font-size: var(--font-size);
    padding-block: 1.125rem;
}
.hero-page-content h1 {
    color: var(--black);
    font-size: 2.125rem;

}
.hero-page-content p {
    color: var(--drk-greyish-blue-paragraph);
    font-size: 1rem;
    padding-block: 1rem;
    line-height: 1.5rem;
}
.sneaker-amt {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.amount {
    color: var(--black) !important;
    font-weight: 700;
    padding-block: 0 !important;
}
.cancel-amt {
    padding-block: 0 !important;
}
.discount-cut {
    color: var(--primary-orange);
    background-color: var(--primary-pale-orange-bg);
    border-radius: .3rem;
    padding: .2rem;
}
.cancel-border {
    border-top: 1px solid var(--drk-greyish-blue-paragraph);
    position: absolute;
    width: 50px;
    right: 0;
}
.hero-content-wrapper {
    margin: 0 auto;
    width: min(517px, 90%);
}
.additn-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-greyish-blue);
    padding: 1rem;
    border-radius: .5rem;

}
.cart-btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-orange);
    border-radius: .5rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    cursor: pointer;

}
.cart-btn-box p {
    color: var(--white);

}
.carousel-button {
    cursor: pointer;
}
.carousel-btn {
    display: none;
    /* cursor: pointer; */
}
.cart-calc{
    cursor: pointer;
}
.total-carts {
    visibility: hidden;
    width: 20px;
    background-color: var(--primary-orange);
    color: var(--white);
    display: grid;
    place-content: center;
    border-radius: .5rem;
    position: absolute;
    top: -10px;
    left: 10px;
    font-size: .8rem;

}
.active {
    visibility: visible;
    left: 0;
    
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 100;
}
footer {
    font-size: 1rem;
    margin-block: 2rem;
    text-align: center;
}
footer a {
    text-decoration: none;
}
/* tablet screen --------------------------- */
@media only screen and (min-width : 64em){
    header {
        border-bottom: 1px solid var(--greyish-blue);
        padding-bottom: 1.5rem;
    }
    .mobi-nav {
        display: block;
        margin-left: 2rem;
    }
    .menu {
        display: none;
    }
    .hero-page {
        display: flex;
        width: min(1200px, 90%);
        margin: 0 auto;
        padding-top: 5.75rem;
    }
    .cart-box {
        width: 400px;
        right: 0;
        left: auto;
        top: -2px;
        box-shadow: 3px 3px 3px 3px var(--greyish-blue);
    }
    .carousel-track-container {
        flex: 2;
    }  
    .carousel-track {
        width: 18.75rem;
        height: 22rem;
        margin-left: 3.75rem; 
    }
    .hero-page-content {
        width: min(517px, 100%);
        flex: 2;
    }
    .carousel-slides img {
        border-radius: 1rem;
    }
    .prev {
        display: none;
    }
    .next {
        display: none;
    }
    .cart-btn {
        display: flex;
        align-items: center;
    }
    .additn-btn {
        width: 150px;
    }
    .cart-btn-box {
        width: 200px;
        flex: 1;
        margin-left: 1rem;
        margin-top: 0;
        margin-bottom: 0;
    }
    .sneaker-amt {
        display: block;
        padding-block: 2rem;
        
    }
    .cancel-border {
        top: 69px;
        left: 0;
    }
    .carousel-btn {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(4, 1fr);
        width: 18.75rem;
        margin-left: 3.955rem;
        
    }
    .carousel-btn button {
        border: none;
        
    }
    .carousel-btn img {
        width: 100%;
        border-radius: .5rem;
    }
    .newImg {
        position: fixed;
        background-color: rgba(0, 0, 0, .7);
        width: 100vw;
        height: 100vh;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .newImg2 {
        width: 40%;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center; 
        object-fit: cover;   
        border-radius: 1rem;
    }
    .gallery-btn {
        border: none;
        position: absolute;
        display: grid;
        place-content: center;
        top: 0;
        z-index: 500;
        background-color: var(--white);
        border-radius: 50%;
        padding: 1rem;

    }
    #prev-btn {
        top: 48vh;
        left: 28%;
    }
    #next-btn {
        top: 48vh;
        right: 29%;
    }
    .imgClose {
        /* border: 5px solid black ; */
        position: fixed;
        top: 20vh;
        right: 29%;
        cursor: pointer;
    }





}